# Python

1. Founder - Guido Van Rossum
2. Lanched - Feb 12, 1991

# 08/03/2021

In [10]:
print("Welcome to Python")
print('Welcome to Python')
print("welcome")
print(1)
print(2)
print("1")

Welcome to Python
Welcome to Python
welcome
1
2
1

In [17]:
name="Python"
print(type(name))
print(name)

<class 'str'>
Python

In [20]:
a=1
print(type(a))
print(a)

<class 'int'>
1

In [22]:
b=2.3
print(type(b))
print(b)

<class 'float'>
2.3

In [95]:
tup=(4,5,7,8,0,"Sam",4.5,6.67)
print(type(tup))
print(tup)
print(tup[0])
print(tup[1])
print(tup[5])
print(tup[7])
print(tup[0:6])
print(tup[:6])
print(tup[5:8])
print(tup[2:-1])
tup[4]=10 #tuples are immutable
print(tup)

<class 'tuple'>
(4, 5, 7, 8, 0, 'Sam', 4.5, 6.67)
4
5
Sam
6.67
(4, 5, 7, 8, 0, 'Sam')
(4, 5, 7, 8, 0, 'Sam')
('Sam', 4.5, 6.67)
(7, 8, 0, 'Sam', 4.5)

TypeError: 'tuple' object does not support item assignment

In [94]:
l=[3,5,7,9,10,"Kohli","Dhoni",9.8,8.4]
print(type(l))
print(l)
print(l[0])
print(l[2])
print(l[3:7])
l[4]=0 #lists are mutable
print(l)

<class 'list'>
[3, 5, 7, 9, 10, 'Kohli', 'Dhoni', 9.8, 8.4]
3
7
[9, 10, 'Kohli', 'Dhoni']
[3, 5, 7, 9, 0, 'Kohli', 'Dhoni', 9.8, 8.4]

In [108]:
#d={"key1":"value1","key2":"value2","key3":"value3"}
d={"Chennai":"Dhoni","Mumbai":"Rohit","Runs":100,"Runrate":7.8}
print(type(d))
print(d)
print(d["Chennai"],d["Mumbai"],d["Runs"])
d["Chennai"]="Raina"
print(d["Chennai"])
print(d)

<class 'dict'>
{'Chennai': 'Dhoni', 'Mumbai': 'Rohit', 'Runs': 100, 'Runrate': 7.8}
Dhoni Rohit 100
Raina
{'Chennai': 'Raina', 'Mumbai': 'Rohit', 'Runs': 100, 'Runrate': 7.8}

In [54]:
#Concatenation
t="hello" #string
a="10" #integer
print(t+a)

hello10

In [58]:
#Replication
t="hello" #string
a=10 #integer
print(t*a)

hellohellohellohellohellohellohellohellohellohello

# Slicing

In [116]:
fruit="Banana is a fruit"
print(fruit[0:3])
print(fruit[2:7])
print(fruit[1:5])
print(fruit[6:9])
print(fruit[7:9])

Ban
nana
anan
 is
is

In [6]:
a=1
b=float(a)
print(b)
print(type(b))
print(type(a))
print(float(a))
print(type(float(a)))

1.0
<class 'float'>
<class 'int'>
1.0
<class 'float'>

In [1]:
s="hello"
print(len(s))

5